{% extends 'base.html.twig' %}

{% block title %}Manage author{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('index') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Author</li>
    </ol>
{% endblock %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{{ asset('assets/css/table.css') }}" type="text/css">
{% endblock %}

{% block display %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h2>Manage Author</h2>
    <div class="form-group">
        <form action="{{path('search_author')}}" method="POST">
            <input class="form-control" type="search" name="searchContent" required placeholder ="Search author by name or stage name...">
        </form>
    </div>
    <a href = "{{ path('add_author') }}">
        <button class="btn btn-primary"><i class="fa fa-plus"></i><span>  Add</span></button>
    </a>
    <table id="content-table3" class="table-responsive-full sort-table">
        <thead>
        <tr>
            <th class="order-number">No.
            </th>
            <th class="name">Author name
                <div class="sort-table-arrows">
                    <a href="{{ path('sort_author_by_fullname_asc') }}" style="text-decoration: none;">
                        <button class="button" title="Sort Ascending"><i class="fa fa-chevron-down"></i></button>
                    </a>
                    <a href="{{ path('sort_author_by_fullname_desc') }}" style="text-decoration: none;">
                        <button class="button" title="Sort Descending"><i class="fa fa-chevron-up"></i></button>
                    </a>
                </div>
            </th>
            <th class="th-15">Stage name
                <div class="sort-table-arrows">
                    <a href="{{ path('sort_author_by_stage_name_asc') }}" style="text-decoration: none;">
                        <button class="button" title="Sort Ascending"><i class="fa fa-chevron-down"></i></button>
                    </a>
                    <a href="{{ path('sort_author_by_stage_name_desc') }}" style="text-decoration: none;">
                        <button class="button" title="Sort Descending"><i class="fa fa-chevron-up"></i></button>
                    </a>
                </div>
            </th>
            <th class="order-number">Gender
            </th>
            <th class="order-number">Age
            </th>
            <th class="description">Description
            </th>
            <th class="action" style="text-align: center;">Action
            </th>
        </tr>
        </thead>
        <tbody>
        {% if authors != null %}
            {% set orderNum = 1 %}
            {% for author in authors %}
                <tr>
                    <td data-label="Order-Number" class="order-number">{{ orderNum }}</td>
                    {% set orderNum = orderNum + 1 %}
                    <td data-label="Name" class="name">{{ author.AuthorFullName }}</td>
                    <td data-label="Order-Number" class="name">{{ author.AuthorStageName }}</td>
                    <td data-label="Order-Number" class="name">{{ author.AuthorGender }}</td>
                    {% if author.AuthorDOB != null %}
                    {# {% set difference = date('now').diff(date(author.AuthorDOB))%}
                    {% set date = difference.years %} #}   
                    <td data-label="Order-Number" class="name">{{currentyear|date('Y')- author.AuthorDOB|date('Y')}}</td>
                    {% else %}<td></td>
                    {% endif %}
                    <td data-label="Order-Number" class="description">{{ author.AuthorDescription }}</td>
                    <td data-label="Action" class="action" style="text-align: center">
                        <a class="btn btn-primary" style="text-decoration: none;" href="{{ path('show_author', {'id': author.id}) }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-info" style="text-decoration: none;" href="{{ path('update_author', {'id': author.id}) }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" style="text-decoration: none;" href="{{ path('delete_author', {'id': author.id}) }}" onclick="return confirm('Do you want to delete author {{ author.AuthorFullName }}')"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            <br/>
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <ul class="pagination pagination-split mt-0 float-right">
                            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">No data found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}