{% extends 'clientBase.html.twig' %}
{% block title %}List Products{% endblock %}
{% block navigation %}
        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                Type      
              </a>            
              <!-- BEGIN DROPDOWN MENU -->
              <ul class="dropdown-menu">
                {% if types != null %}
                 {% for type in types %}
                <li><a href="{{path('type_detail', {'id': type.id})}}">{{type.TypeName}}</a></li>
                {% endfor %}
              {% endif %}
              </ul>
              <!-- END DROPDOWN MENU -->
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                Category 
                
              </a>
                
              <ul class="dropdown-menu">
              {% if categories != null %}
                 {% for category in categories %}
                <li><a href="{{path('category_detail', {'id': category.id})}}">{{category.CategoryName}}</a></li>
              {% endfor %}
              {% endif %}
              </ul>
            </li>
            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="{{path('search_book_by_title')}}" method="POST">
                  <div class="input-group">
                    <input type="text" placeholder="Search" name="title" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>

        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->
  {% endblock %}
{% block slider %}{% endblock %}
 {% block new %}{% endblock %}
 {% block productHot %}
     <div class="main">
         <div class="container">
             <!-- BEGIN SIDEBAR & CONTENT -->
             <div class="row margin-bottom-40">
                 <!-- BEGIN CONTENT -->
                 <div class="col-md-12 col-sm-12">
                     <h1>Shopping cart</h1>
                     {% for message in app.flashes('success') %}
                         <div class="alert alert-success">
                             {{ message }}
                         </div>
                     {% endfor %}
                     {% for message in app.flashes('error') %}
                         <div class="alert alert-danger">
                             {{ message }}
                         </div>
                     {% endfor %}
                     <div class="goods-page">
                         <div class="goods-data clearfix">
                             <div class="table-wrapper-responsive">
                                 <table summary="Shopping cart">
                                     <tr>
                                         <th class="goods-page-image">Image</th>
                                         <th class="goods-page-description">Description</th>
                                         <th class="goods-page-ref-no">Ref No</th>
                                         <th class="goods-page-quantity">Quantity</th>
                                         <th class="goods-page-price">Unit price</th>
                                         <th class="goods-page-total" colspan="2">Total</th>
                                     </tr>
                                     {% if message != "" %}
                                         <tr>
                                             <td colspan="6" class="text-center">{{ message }}</td>
                                         </tr>
                                     {% else %}
                                         {% for item in items %}
                                             <tr>
                                                 <td class="goods-page-image">
                                                     <a href="#"><img src="{% if item['book'].bookImage != null %}
                                    {{ asset('assets/img/book/' ~ item['book'].bookImage) }}
                                    {% else %}
                                    {{ asset('assets/img/no-img/photo-comming-soon.jpg') }}
                                    {% endif %}" alt="{{ item['book'].BookTitle }}"></a>
                                                 </td>
                                                 <td class="goods-page-description">
                                                     <h3><a href="#">{{ item['book'].BookTitle }}</a></h3>
                                                     <p><strong>{{ item['book'].BookSummary }}</p>
                                                 </td>
                                                 <td class="goods-page-ref-no">
                                                     javc2133
                                                 </td>
                                                 <td class="goods-page-quantity">
                                                     <div class="product-quantity">
                                                         <input id="product-quantity2" type="text" value="{{ item['quantity'] }}" readonly class="form-control input-sm">
                                                     </div>
                                                 </td>
                                                 <td class="goods-page-price">
                                                     <strong><span>$</span>{{ item['book'].BookPrice }}</strong>
                                                 </td>
                                                 <td class="goods-page-total">
                                                     <strong><span>$</span>{{ item['total_item'] }}</strong>
                                                 </td>
                                                 <td class="del-goods-col">
                                                     <a class="del-goods" href="{{ path('remove_from_cart', {'bookId': item['book'].id}) }}">&nbsp;</a>
                                                 </td>
                                             </tr>
                                         {% endfor %}
                                     {% endif %}
                                 </table>
                             </div>

                             <div class="shopping-total">
                                 <ul>
                                     <li>
                                         <em>Sub total</em>
                                         <strong class="price"><span>$</span>{{ total }}</strong>
                                     </li>
                                     <li>
                                         <em>Shipping cost</em>
                                         <strong class="price"><span>$</span>0</strong>
                                     </li>
                                     <li class="shopping-total-price">
                                         <em>Total</em>
                                         <strong class="price"><span>$</span>{{ total }}</strong>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                         <a class="btn btn-default" type="submit" href="{{path('home')}}">Continue shopping <i class="fa fa-shopping-cart"></i></a>
                         <a class="btn btn-primary" type="submit" href="{{path('checkout')}}">Checkout <i class="fa fa-check"></i></a>
                     </div>
                 </div>
                 <!-- END CONTENT -->
             </div>
             <!-- END SIDEBAR & CONTENT -->

              <!-- BEGIN SIMILAR PRODUCTS -->
        <div class="row margin-bottom-40">
          <div class="col-md-12 col-sm-12">
            <h2>Most popular products</h2>
            <div class="owl-carousel owl-carousel4">          
            {% if populars != null %}
                 {% for popular in populars %}              
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% if popular.bookImage != null %}
                                    {{ asset('assets/img/book/' ~ popular.bookImage) }}
                                    {% else %}
                                    {{ asset('assets/img/no-img/photo-comming-soon.jpg') }}
                                    {% endif %}" class="img-responsive img-popular" alt="{{popular.BookTitle}}">
                    <div>
                      <a href="{{path('product_detail', {'id': popular.id})}}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">{{popular.BookTitle}}</a></h3>
                  <div class="pi-price">${{popular.BookPrice}}</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
               {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <!-- END SIMILAR PRODUCTS -->
         </div>
     </div>
 {% endblock %}
 {% block twoItem %}
 {% endblock %}