{% extends "base.html.twig" %}

{% block title %}Update{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('index') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('category') }}">Category</a>
        </li>
        <li class="breadcrumb-item active">
            Update
        </li>
    </ol>
{% endblock %}

{% block display %}
    <div class="container col-md-6 mt-3 mb-3">
        <h2 class="text-center">Edit Category</h2>
        <div class="col md-6"></div>
        {{ form_start (categoryForm) }}
        <div class="form-group">
            {{ form_label (categoryForm.CategoryName)}}
            {{ form_widget (categoryForm.CategoryName ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        <div class="form-group">
            {{ form_label (categoryForm.CategoryDescription)}}
            {{ form_widget (categoryForm.CategoryDescription ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group text-center mt-3">
            <input class="btn btn-primary" type="submit" value="Edit" />
        </div>
        {{ form_end (categoryForm)}}
    </div>
{% endblock %}

