{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('index') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('type') }}">Type</a>
        </li>
        <li class="breadcrumb-item active">
            Detail
        </li>
    </ol>
{% endblock %}

{% block display %}
    <div class="content">
        <div class="container">
            <!-- end row -->
            <div class="row">
                <div class="col-lg-2 col-md-2">
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="information-detail" style="height: auto;">
                        <div class="form-group">
                            <h4 class="m-t-0 m-b-0">Type name:</h4>
                            <input type="text" class="form-control" readonly value="{{ type.TypeName }}">
                        </div>
                        <div class="form-group">
                            <h4 class="m-t-0 m-b-0">Type description:</h4>
                            <textarea class="form-control" readonly="true">{{ type.TypeDescription }}</textarea>
                        </div>
                        <div class="form-group">
                            <h4 class="m-t-0 m-b-0">Create at:</h4>
                            <input type="text" class="form-control" readonly value="{{ type.CreateAt ? type.CreateAt|date('d-m-Y') : '' }}">
                        </div>
                        <div class="form-group text-center">
                            <a class="btn btn-primary custom-btn" style="text-decoration: none;" href="{{ path('update_type', {'id': type.id}) }}"><i class="fa fa-edit"></i>Edit</a>
                            <a class="btn btn-primary custom-btn" style="text-decoration: none;" href="{{ path('delete_type', {'id': type.id}) }}" onclick="return confirm('Do you want to delete type {{ type.TypeName }}')"><i class="fa fa-trash"></i>Delete</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                </div>
            </div>
        </div>
        <!-- container -->
    </div>
{% endblock %}
