{% extends 'clientBase.html.twig' %}
     {% block navigation %}
        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                Type      
              </a>            
              <!-- BEGIN DROPDOWN MENU -->
              <ul class="dropdown-menu">
                {% if types != null %}
                 {% for type in types %}
                <li><a href="{{path('type_detail', {'id': type.id})}}">{{type.TypeName}}</a></li>
                {% endfor %}
              {% endif %}
              </ul>
              <!-- END DROPDOWN MENU -->
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                Category 
                
              </a>
                
              <ul class="dropdown-menu">
              {% if categories != null %}
                 {% for category in categories %}
                <li><a href="{{path('category_detail', {'id': category.id})}}">{{category.CategoryName}}</a></li>
              {% endfor %}
              {% endif %}
              </ul>
            </li>
            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>

        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->
  {% endblock %}
 {% block new %}
        <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SALE PRODUCT -->
          <div class="col-md-12 sale-product">
            <h2>New Arrivals</h2>
            <div class="owl-carousel owl-carousel5">
             {% if news != null %}
                 {% for new in news %}
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% if new.bookImage != null %}
                                    {{ asset('assets/img/book/' ~ new.bookImage) }}
                                    {% else %}
                                    https://bootdey.com/img/Content/avatar/avatar2.png
                                    {% endif %}
                                    " class="img-responsive img-new" alt="{{new.BookTitle }}">
                    <div>
                      <a href="{{asset('assets/img/book/' ~ new.bookImage)}}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="{{path('product_detail', {'id': new.id})}}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">{{new.BookTitle }}</a></h3>
                  <div class="pi-price">${{new.BookPrice}}</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                  <div class="sticker sticker-sale"></div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <!-- END SALE PRODUCT -->
        </div>
        <!-- END SALE PRODUCT & NEW ARRIVALS -->
  {% endblock %}
 {% block productHot %}
              <!-- BEGIN PRODUCT LIST -->
               <h2>Hot Product</h2>
            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
                 {% if books != null %}
                 {% for book in books %}
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% if book.bookImage != null %}
                                    {{ asset('assets/img/book/' ~ book.bookImage) }}
                                    {% else %}
                                    https://bootdey.com/img/Content/avatar/avatar2.png
                                    {% endif %}
                                    " class="img-responsive img-hot" alt="{{book.BookTitle}}">
                    <div>
                      <a href="{{asset('assets/img/book/' ~ book.bookImage)}}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="{{path('product_detail', {'id': book.id})}}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">{{book.BookTitle}}</a></h3>
                  <div class="pi-price">${{book.BookPrice }}</div>
                  <a href="{{ path('add_to_cart', {'bookId': book.id}) }}" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
            <!-- END PRODUCT LIST -->
  {% endblock %}
