{% extends 'base.html.twig' %}

{% block title %}Manage category{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('index') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Category</li>
    </ol>
{% endblock %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{{ asset('assets/css/table.css') }}" type="text/css">
{% endblock %}

{% block display %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h2>Manage Category</h2>
    <div class="form-group">
        <form action="{{path('search_category_by_name')}}" method="POST">
            <input class="form-control" type="search" name="category_name" required placeholder ="Search category by name...">
        </form>
    </div>
    <a href = "{{ path('add_category') }}">
        <button class="btn btn-primary"><i class="fa fa-plus"></i><span>  Add</span></button>
    </a>
    <table id="content-table3" class="table-responsive-full sort-table">
        <thead>
        <tr>
            <th class="order-number">No.
            </th>
            <th class="name">Category name
                <div class="sort-table-arrows">
                    <a style="text-decoration: none;" href="{{path('sort_category_by_name_asc')}}">
                        <button class="button" title="Sort Ascending"><i class="fa fa-chevron-down"></i></button>   
                    </a>
                    <a style="text-decoration: none;" href="{{path('sort_category_by_name_desc')}}">
                        <button class="button" title="Sort Descending"><i class="fa fa-chevron-up"></i></button>
                    </a>
                </div>
            </th>
            <th class="description">Category description
            </th>
            <th class="Action">Action
            </th>
        </tr>
        </thead>
        <tbody>
        {% if categories != null %}
            {% set orderNum = 1 %}
            {% for category in categories %}
                <tr>
                    <td data-label="Order-Number" class="order-number">{{ orderNum }}</td>
                    {% set orderNum = orderNum + 1 %}
                    <td data-label="Name" class="name">{{ category.CategoryName }}</td>
                    <td data-label="Description" class="description">{{ category.CategoryDescription }}</td>
                    <td data-label="Action" class="action">
                        <a class="btn btn-primary custom-btn" style="text-decoration: none;" href="{{ path('show_category', {'id': category.id}) }}"><i class="fa fa-eye"></i>Detail</a>
                        <a class="btn btn-info custom-btn" style="text-decoration: none;" href="{{ path('update_category', {'id': category.id}) }}"><i class="fa fa-edit"></i>Edit</a>
                    </td>
                </tr>
            {% endfor %}
            <br/>
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <ul class="pagination pagination-split mt-0 float-right">
                            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No data found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}