{% extends "base.html.twig" %}

{% block title %}Add{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('index') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('author') }}">Book</a>
        </li>
        <li class="breadcrumb-item active">
            Add
        </li>
    </ol>
{% endblock %}

{% block display %}
    <div class="container col-md-6 mt-3 mb-3">
        <h2 class="text-center">ADD BOOK</h2>
        <div class="col md-6"></div>
        {{ form_start (bookForm) }}
        <div class="form-group">
            {{ form_label (bookForm.BookTitle)}}
            {{ form_widget (bookForm.BookTitle ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.PublishedAt)}}
            {{ form_widget (bookForm.PublishedAt ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.PublishedBy)}}
            {{ form_widget (bookForm.PublishedBy ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.BookQuantity)}}
            {{ form_widget (bookForm.BookQuantity ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.BookPrice)}}
            {{ form_widget (bookForm.BookPrice ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.Category)}}
            {{ form_widget (bookForm.Category)
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.Author)}}
            {{ form_widget (bookForm.Author)
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.Type)}}
            {{ form_widget (bookForm.Type)
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.type_product)}}
            {{ form_widget (bookForm.type_product ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.BookImage)}}
            {{ form_widget (bookForm.BookImage ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group">
            {{ form_label (bookForm.BookSummary)}}
            {{ form_widget (bookForm.BookSummary ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group text-center mt-3">
            <input class="btn btn-primary" type="submit" value="Add" />
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".slt_type").select2({
                    dropdownPosition: 'below'
                });
            });
        </script>
        {{ form_end (bookForm)}}
    </div>
{% endblock %}

