{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('index') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('author') }}">Book</a>
        </li>
        <li class="breadcrumb-item active">
            Detail
        </li>
    </ol>
{% endblock %}

{% block display %}
    <div class="content">
        <div class="container">
            <!-- end row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card profile-header">
                        <div class="body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="profile-image" style="text-align: center;"><img class="avatar-img" style="max-width: 100%; max-height: 100%; height: 336px;" src="{% if book.BookImage != null %}
                                    {{ asset('assets/img/Book/' ~ book.BookImage) }}
                                    {% else %}
                                    https://bootdey.com/img/Content/avatar/avatar2.png
                                    {% endif %}
                                    " alt=""> </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="information-detail" style="height: 300px;">
                                      {% for a in book.Category %}  <h4 class="m-t-0 m-b-0">{{ a.CategoryName }}</h4> {% endfor %}
                                       {% for a in book.Author %}  <h4 class="m-t-0 m-b-0">{{ a.AuthorFullName }}</h4> {% endfor %}
                                        {% for a in book.Type %}  <h4 class="m-t-0 m-b-0">{{ a.TypeName }}</h4> {% endfor %}
                                        <span class="job_post">{{ book.CreateAt ? book.CreateAt|date('d-m-Y') : '' }}</span>
                                        <p>{{ book.BookSummary }}</p>
                                    </div>
                                    <div class="float-md-right ">
                                        <a class="btn btn-primary custom-btn" style="text-decoration: none;" href="{{ path('book_edit', {'id': book.id}) }}"><i class="fa fa-edit"></i>Edit</a>
                                        <a class="btn btn-primary custom-btn" style="text-decoration: none;" href="{{ path('book_delete', {'id': book.id}) }}" onclick="return confirm('Do you want to delete author {{ book.BookTitle }}')"><i class="fa fa-trash"></i>Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
    </div>
{% endblock %}
