{% extends "base.html.twig" %}

{% block title %}Update{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('index') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('type') }}">Type</a>
        </li>
        <li class="breadcrumb-item active">
            Update
        </li>
    </ol>
{% endblock %}

{% block display %}
    <div class="container col-md-6 mt-3 mb-3">
        <h2 class="text-center">Edit Type</h2>
        <div class="col md-6"></div>
        {{ form_start (typeForm) }}
        <div class="form-group">
            {{ form_label (typeForm.TypeName)}}
            {{ form_widget (typeForm.TypeName ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        <div class="form-group">
            {{ form_label (typeForm.TypeDescription)}}
            {{ form_widget (typeForm.TypeDescription ,
                {
                    'attr' : {'class' : 'form-control'}
                })
            }}
        </div>
        <div class="form-group text-center mt-3">
            <input class="btn btn-primary" type="submit" value="Edit" />
        </div>
        {{ form_end (typeForm)}}
    </div>
{% endblock %}

