{% extends 'clientBase.html.twig' %}
{% block title %}List Products{% endblock %}
 {% block navigation %}
        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                Type      
              </a>            
              <!-- BEGIN DROPDOWN MENU -->
              <ul class="dropdown-menu">
                {% if types != null %}
                 {% for type in types %}
                <li><a href="{{path('type_detail', {'id': type.id})}}">{{type.TypeName}}</a></li>
                {% endfor %}
              {% endif %}
              </ul>
              <!-- END DROPDOWN MENU -->
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                Category 
                
              </a>
                
              <ul class="dropdown-menu">
              {% if categories != null %}
                 {% for category in categories %}
                <li><a href="{{path('category_detail', {'id': category.id})}}">{{category.CategoryName}}</a></li>
              {% endfor %}
              {% endif %}
              </ul>
            </li>
            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>

        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->
  {% endblock %}
{% block slider %}{% endblock %}
{% block new %}{% endblock %}
{% block productHot %}
        <ul class="breadcrumb">
        {% if type is defined %}
            <li><a href="{{path('home')}}">Home</a></li>
            <li><a href="">Store</a></li>
            <li class="active">{{type.TypeName}}</li>
        {% elseif category is defined %}
            <li><a href="{{path('home')}}">Home</a></li>
            <li><a href="">Store</a></li>
            <li class="active">{{category.CategoryName}}</li>
        {% elseif hots is defined %}
            <li><a href="{{path('home')}}">Home</a></li>
            <li><a href="">Store</a></li>
            <li class="active">Hot Product</li>
        {% else %}
            <li><a href="{{path('home')}}">Home</a></li>
            <li><a href="">Store</a></li>
            <li class="active">New Product</li>
        {% endif %}
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-5">
            <ul class="list-group margin-bottom-25 sidebar-menu">
            {% if categories != null %}
                 {% for category in categories %}
              <li class="list-group-item clearfix"><a href="{{path('category_detail', {'id': category.id})}}"><i class="fa fa-angle-right"></i>{{category.CategoryName}}</a></li>
            {% endfor %}
              {% endif %}
            </ul>

            <div class="sidebar-filter margin-bottom-25">
              <h2>Filter</h2>
              <h3>Availability</h3>
              <div class="checkbox-list">
                <label><input type="checkbox"> Not Available (3)</label>
                <label><input type="checkbox"> In Stock (26)</label>
              </div>
            </div>

            <div class="sidebar-products clearfix">
              <h2>Bestsellers</h2>
              {% if sellers != null %}
                 {% for seller in sellers %}
              <div class="item">
                <a href="{{path('product_detail', {'id': seller.id})}}"><img src=" {{ asset('assets/img/book/' ~ seller.bookImage) }}" alt="Some Shoes in Animal with Cut Out"></a>
                <h3><a href="{{path('product_detail', {'id': seller.id})}}">{{seller.BookTitle}}</a></h3>
                <div class="price">${{seller.BookPrice}}</div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <!-- END SIDEBAR -->
          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7">
            <div class="row list-view-sorting clearfix">
              <div class="col-md-2 col-sm-2 list-view">
                <a href="#"><i class="fa fa-th-large"></i></a>
                <a href="#"><i class="fa fa-th-list"></i></a>
              </div>
              <div class="col-md-10 col-sm-10">
                <div class="pull-right">
                  <label class="control-label">Sort&nbsp;By:</label>
                  <select class="form-control input-sm">
                    <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                    <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                    <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                    <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                    <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                    <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                    <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                    <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                    <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- BEGIN PRODUCT LIST -->
            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
               {% if type is defined %}
              {% for a in type.books %} 
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% if a.bookImage != null %}
                                    {{ asset('assets/img/book/' ~ a.bookImage) }}
                                    {% else %}
                                    https://bootdey.com/img/Content/avatar/avatar2.png
                                    {% endif %}" class="img-responsive img-hot" alt="Berry Lace Dress">
                    <div>
                      <a href="{{path('product_detail', {'id': a.id})}}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">{{a.BookTitle}}</a></h3>
                  <div class="pi-price">${{a.BookPrice}}</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              {% endfor %}
              {% elseif category is defined %}
              {% for a in category.books %} 
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% if a.bookImage != null %}
                                    {{ asset('assets/img/book/' ~ a.bookImage) }}
                                    {% else %}
                                    https://bootdey.com/img/Content/avatar/avatar2.png
                                    {% endif %}" class="img-responsive img-hot" alt="Berry Lace Dress">
                    <div>
                      <a href="{{path('product_detail', {'id': a.id})}}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">{{a.BookTitle}}</a></h3>
                  <div class="pi-price">${{a.BookPrice}}</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              {% endfor %}
              {% elseif hots is defined %}
              {% for a in hots %} 
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% if a.bookImage != null %}
                                    {{ asset('assets/img/book/' ~ a.bookImage) }}
                                    {% else %}
                                    https://bootdey.com/img/Content/avatar/avatar2.png
                                    {% endif %}" class="img-responsive img-hot" alt="Berry Lace Dress">
                    <div>
                      <a href="{{path('product_detail', {'id': a.id})}}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">{{a.BookTitle}}</a></h3>
                  <div class="pi-price">${{a.BookPrice}}</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              {% endfor %}
              {% else %}
              {% for a in news %} 
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% if a.bookImage != null %}
                                    {{ asset('assets/img/book/' ~ a.bookImage) }}
                                    {% else %}
                                    https://bootdey.com/img/Content/avatar/avatar2.png
                                    {% endif %}" class="img-responsive img-hot" alt="Berry Lace Dress">
                    <div>
                      <a href="{{path('product_detail', {'id': a.id})}}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">{{a.BookTitle}}</a></h3>
                  <div class="pi-price">${{a.BookPrice}}</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              {% endfor %}
              {% endif %}
              <!-- PRODUCT ITEM END -->            
            </div>
            <!-- END PRODUCT LIST -->
            <!-- BEGIN PAGINATOR -->
            <div class="row">
              <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
              <div class="col-md-8 col-sm-8">
                <ul class="pagination pull-right">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><span>2</span></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- END PAGINATOR -->
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
{% endblock %}
{% block twoItem %}
 {% endblock %}