{% extends "base.html.twig" %}

{% block title %}Add order{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('index') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('order') }}">Order</a>
        </li>
        <li class="breadcrumb-item active">
            Add
        </li>
    </ol>
{% endblock %}

{% block display %}
<div class="container col-md-6 mt-3 mb-3">
    <h2 class="text-center">Add New order</h2>
    <div class="col md-6"></div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="text-center">Select a customer to create an order for him/her:</div>
    {{ form_start (orderForm) }}
    <div class="form-group">
        {{ form_label (orderForm.User) }}
        {{ form_widget (orderForm.User) }}
    </div>
    <div class="form-group text-center mt-3">
        <input class="btn btn-primary" type="submit" value="Add" />
    </div>
    {{ form_end (orderForm)}}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".slt_type").select2({
                dropdownPosition: 'below'
            });
        });
    </script>
</div>
{% endblock %}

